@viewport {
   width: device-width;
}


.title {
  text-decoration: underline
}

.cake-image-container img {
  width: 100%;
}

.search {
  margin: 15px 0 10px 10px;
}


@media only screen {
  .searchInput {
    margin-left: 10px;
    width: 38%
  }
}

/* device in portrait */
@media only screen and (max-width: 374px) and (orientation: portrait) {
  .searchInput{
    width: 75%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) and (orientation: portrait) {
  .searchInput{
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) and (orientation: portrait) {
  .searchInput{
    width: 38%;
  }
}

/* device in landscape*/
@media only screen and (max-width: 568px) and (orientation: landscape) {
  .searchInput{
    width: 35%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 736px) and (orientation: landscape) {
  .searchInput{
    width: 37%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .searchInput{
    width: 41%;
  }
}

/* column layout originally from http://matthewjamestaylor.com/blog/equal-height-columns-2-column.htm */
.itemContainer {
	float:left;
	width:100%;
	position:relative;
	right:50%;
  padding-bottom: 10px;
}

.imageColumn {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}

.textColumn {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
}


/* Form - layout originally from https://codepen.io/chriscoyier/pen/DmnlJ */

form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}

form > div > label {
	width: 23%;
  float: left;
  padding-right: 10px;
}

form > div > div {
  width: 75%;
  float: right;
}

form > div > div > button {
  margin-right: 10px;
}

input[type=text],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

input[type=text],
textarea {
  width: 50%;
}

input[type=text]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }

  form > div > label {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }

  form > div > div  {
    width: 100%;
    float: none;
  }

  input[type=text],
  textarea {
    width: 100%; 
  }
}

@media (min-width: 1200px) {
  form > div > label {
  	text-align: right;
  }
}